<section intro columns>
  <div flex>
    <h2>Biografie</h2>
    <p>{{ .Biography }}</p>
  </div>
  <div contacts>
    {{ range $entry := .Contact }}
    <p><i class="{{ $entry.Icon }}"></i><a href="{{ $entry.Link }}">{{ $entry.Text }}</a></p>
    {{ end }}
  </div>
</section>
<section columns> <!-- horizontal -->
  <section experience flex> <!-- vertical -->
    {{ template "section" dict "root" . "name" "Ervaring" "key" "Ervaring" }}
    <div>
      {{ template "section" dict "root" . "name" "Opleiding" }}
    </div>
    <div>
      {{ template "section" dict "root" . "name" "Publicaties" }}
     </div>

  </section>
  <section flex>
    <div>
      {{ template "section" dict "root" . "name" "Actieve Projecten" }}
     </div>

     <div>
      {{ template "section" dict "root" . "name" "Interesses" }}
     </div>


    
  </section>
</section>


 <!--
<section columns break-before>
  <section flex>
    <div>
      {{ template "section" dict "root" . "name" "Publicaties" }}
    </div>

    <div>
      {{ template "section" dict "root" . "name" "certifications" }}
    </div>
  </section>
  <section experience flex>
    {{ template "section" dict "root" . "name" "references" }}
  </section>
</section>
-->